* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

.menu {
    padding: 1rem 1rem;
    margin-top: 10px;
    text-align: center;
}

.entry {
    font-size: 30px;
}

#guess {
    font-size: 30px;
    width: 150px;
    margin-left: 5px;
}
.error {
    color: red;
    font-size: 20px;
}

.correct {
    color: green;
    font-size: 20px;
}


.btn {
    margin: 10px 0px;
    background-color: #e7e7e7;
    border: 2px solid #e7e7e7;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
    width: 150px;
    border-radius: 3px;
    transition-duration: 0.3s;
}

.btn:hover {
    background: white;
}

table {
    border: 1px solid black;
    width: 40%;
    margin: 15px auto 0 auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

thead {
    font-weight: bold;
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: #deeaee;
}